[Unit]
Description=Execute the script once per day
After=multi-user.target

[Timer]
OnCalendar=*-*-* 09:00:00
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
